*
!.dockerignore
!pyproject.toml
!README.md
!LICENSE
!CMakeLists.txt
!include/
!include/**
!src/
!src/**
!pybind/
!pybind/**
!external/
!external/**
!VegasAfterglow/
!VegasAfterglow/**
!webtool/
!webtool/backend/
!webtool/backend/**
