**/*.txt
**/*.csv
**/*.dat
**/*.out
**/*.log
**/*.err
**/*.warn
**/*.a
**/*.so
**/*.npy
**/*.npz
**/.DS_Store
**/*.pyc

external/
projects/
build/
.vscode/
.idea/
.cache/
.DS_Store
vegasglow.so.dSYM/
!CMakeLists.txt
legacy/

docs/build/
docs/doxygen/
